{
	admin localhost:2020
	http_port 8080
	https_port 8443
	default_sni {$PUBLIC_IP}
}

https://{$PUBLIC_IP} {
	tls {
		issuer acme {
			dir https://acme-v02.api.letsencrypt.org/directory
			profile shortlived
		}
	}
	reverse_proxy 127.0.0.1:8766 {
		header_up X-Real-IP {remote_host}
	}
}
